<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTPU"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <profileable android:shell="true" />

        <receiver
            android:name=".mailTPU.MailReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge"
            tools:ignore="ForegroundServicePermission" />
        <activity
            android:name=".schedule.FullscreenAlarmActivity"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/Theme.MyTPU">
            <!-- УДАЛИТЬ intent-filter -->
        </activity>
        <activity
            android:name=".moodle.QuizAttemptActivity"
            android:label="Тест"
            android:theme="@style/Theme.MyTPU"/>
        <receiver
            android:name=".schedule.AlarmReceiver"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name=".mailTPU.MailActivity"
            android:label="Почта ТПУ"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity android:name=".MainScreen"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".mailTPU.ComposeActivity"
            android:label="Новое письмо"/>
        <activity
            android:name=".mailTPU.EmailDetailActivity"
            android:label="Просмотр письма"/>

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".moodle.DashboardActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Настройки" />
        <activity
            android:name=".schedule.ScheduleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.MyTPU" >

            <!-- Остальные атрибуты активности -->
        </activity>
        <activity
            android:name=".moodle.CourseActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".moodle.ModuleDetailActivity"
            android:exported="false"
            android:parentActivityName=".moodle.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".moodle.CourseActivity" />
        </activity>
        <activity
            android:name=".portalTPU.SitesActivity"
            android:exported="false"
            android:theme="@style/Theme.MyTPU" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mytpu.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.INSERT" />
            <data android:mimeType="vnd.android.cursor.dir/event" />
        </intent>
    </queries>
</manifest>